$text-primary: #3d4d5b;
$text-disabled: #b1beca;
$title-primary: #2b2a35;
$title-secondary: #737892;
$subtitle-primary: #74798c;
$icon-primary: #bfc4d2;
$error-primary: #ff5a5f;
$blue-primary: #0054fe;
$blue-secondary: #292197;
$borderPrimary: #e0e0e0;
$background-primary: #eef1fb;
