$text-primary: #3d4d5b;
$text-disabled: #b1beca;
$title-primary: #2b2a35;
$title-secondary: #737892;
$subtitle-primary: #c0c0c0;
$icon-primary: #bfc4d2;
$green-primary: #04c99d;
$error-primary: #ff5a5f;
$blue-primary: #0054fe;

$borderPrimary: #e0e0e0;

$background-primary: #e5e5e5;